@model List<Modele>

@{
    ViewData["Title"] = "Modeles avec objet";
}

<h2>Modèles de véhicules</h2>

<div>
    <h3>Liste des modèles avec sa marque</h3>
    @if (Model.Count > 0)
    {

        <ul>
            @foreach (Modele modele in Model)
            {
                <li> @modele.Nom - @modele.Marque.Nom</li>
            }
        </ul>
        <br />
    }
    else
    {
        <p>Aucun résultat</p>
    }
</div>