@{
    ViewData["Title"] = "Home";
    if (System.DateTime.Now.Date.Year == 2021)
    {
        ViewData["Title"] = "2021";
    }
    else
    {
        ViewData["Title"] = DateTime.Today.Year;
    }

}
<h1 class="text-center display-4">Démo MVC</h1>

<div class="text-center">
    @{
        for (int i = 0; i < 3; i++)
        {
            <img src="~/Images/audi.jpg" width="150" height="150" class="m-3" />
        }
    }



</div>
