@{
    ViewData["Title"] = "Home asdhfhsajhodfofsdao;adsfo;ijafsdafjdfalfdasjkasfdjPage";
    if (System.DateTime.Now.Date.Year == 2021)
    {
        ViewData["Title"] = "2021";
    }
    else
    {
        ViewData["Title"] = "2022";
    }


}

<div class="text-center">
    <h1 class="display-4">Welasdfsadfasdfasdfsadfsadfcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
