@model List<VoitureVM>

@{
    ViewData["Title"] = "Voitures";
}


<div class="text-center">

    <h1 class="display-4">Voitures</h1>
    <div>
        Nombre de voitures: @Model.Count
        <ul class="list-group">

            @foreach (VoitureVM v in Model)
            {
                @*<li>
                        <span>@v.Id - @v.Prix  </span>
                    </li>*@
                <partial name="_VoitureDetailsPartial" model="v" />
            }
        </ul>
    </div>
</div>

