@model List<VoitureVM>


<div class="text-center">


    <h1 class="display-4">Voiture de l'année</h1>
    <div>
        Nombre de voiture: @Model.Count
        <ul>

            @foreach (VoitureVM v in Model)
            {
                @*<li>
                        <span>@v.Id - @v.Prix  </span>
                    </li>*@
                @Html.Partial("_VoitureDetailsPartial", v)
            }
        </ul>
    </div>
</div>

